{
    "changes_feed_limit": 50,
    "continuous_retry_time_ms": 15000,
    "replications":{
	"db-local":{
	    "source_url": "http://localhost:4985",
	    "source_db": "db",
	    "target_db": "db-copy",
        "channels" : ["foo", "bar", "baz"],
	    "lifecycle": "oneshot"
	},
	"grocery-sync-local":{
	    "source_url": "http://localhost:4985",
	    "source_db": "grocery-sync",
	    "target_db": "grocery-sync-copy",
	    "lifecycle": "continuous"
	}
    }
}
